@import "tailwindcss";
@import '@0xsequence/design-system/preset';
@import "boilerplate-design-system/styles/index.css";
@source "../node_modules/boilerplate-design-system";


@layer utilities {
  [data-visible] {
    @apply col-start-1 row-start-1 data-[visible='false']:invisible;
  }

  .contents-layered {
    @apply grid grid-cols-1 grid-rows-1;
  }
}


@keyframes fadeAnimation {
  0%   { opacity:40%; }
  50%  { opacity:60%; }
  100% { opacity:40%; }
}

.animated-fade {
  opacity:1;  
  animation: fadeAnimation 0.75s infinite;
}
